<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br>

<div>
  <%= link_to "Show", @friend ,class:" btn btn-success"%> 
  <%= link_to "Delete", friend_path(@friend), 
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
            
</div>
